// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

$primary: #96b9d6;
$secondary: #cbe4f7;
$accent: #cbe4f7;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #5991c5;
$negative: #c15d5f;
$info: #cbe4f7;
$warning: #c15d5f;

// Default values

// $primary: #1976d2;
// $secondary: #4ff7e7;
// $accent: #9c27b0;

// $dark: #1d1d1d;
// $dark-page: #121212;

// $positive: #21ba45;
// $negative: #c10015;
// $info: #31ccec;
// $warning: #f2c037;
